{% extends 'base.html'%}
{% block content%}
    <section class="container forms">
        <div class="form">
            <div class="form-content">
                <h1>Register</h1>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="field input-field">
                        {{ form.name(class="input", placeholder=form.name.label.text) }}
                    </div>
                    <div class="field input-field">
                        {{ form.username(class="input", placeholder=form.username.label.text) }}
                    </div>
                    <div class="field input-field">
                        {{ form.email(class="input", placeholder=form.email.label.text) }}
                    </div>
                    <div class="field input-field">
                        {{ form.confirmation_email(class="input", placeholder=form.confirmation_email.label.text) }}
                    </div>
                    <div class="field input-field">
                        {{ form.password(class="input password", placeholder=form.password.label.text) }}
                        <i class="bx bx-hide eye-icon"></i>
                    </div>
                    <div class="field input-field">
                        {{ form.confirmation_password(class="input password", placeholder=form.confirmation_password.label.text) }}
                        <i class="bx bx-hide eye-icon"></i>
                    </div>
                    <div class="field button-field">
                        {{ form.submit(class="button") }}
                    </div>
                    <div class="form-link">
                        <a href="#" class="forgot-pass"><small>Forgot Password</small></a>
                        <a href="{{ url_for('auth.login') }}" class="signup-link"><small>Have an Account?</small></a>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
