{% extends 'base.html'%}
{% block content%}
    <section class="container forms">
        <div class="form">
            <div class="form-content">
                <h1>Login</h1>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="field input-field">
                        {{ form.email(class="input", placeholder=form.email.label.text) }}
                    </div>
                    <div class="field input-field">
                        {{ form.password(class="input password", placeholder=form.password.label.text) }}
                        <i class="bx bx-hide eye-icon"></i>
                    </div>
                    <div class="form-check">
                        {{ form.remember(class="form-check-input mt-2")}}
                        {{ form.remember.label(class="form-check-label mt-2")}}
                    </div>
                    <div class="field button-field">
                        {{ form.submit(class="button") }}
                    </div>
                    <div class="form-link">
                        <a href="#" class="forgot-pass"><small>Forgot Password</small></a>
                        <a href="{{ url_for('auth.register') }}" class="signup-link"><small>Need an Account?</small></a>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
