{% extends "base.html" %}

{% block content %}
    <h1>Login Information</h1>
    <table class="table">
        <tr class="table__header">
            <th class="table__cell">Website</th>
            <th class="table__cell">Username</th>
            <th class="table__cell">Email</th>
            <th class="table__cell">Password</th>
            <th class="table__cell">Last Modified</th>
        </tr>
        <tr class="table__row">
            <td class="table__cell">Facebook.com</td>
            <td class="table__cell">izzy850</td>
            <td class="table__cell">isaiah@me.com</td>
            <td class="table__cell">testing123</td>
            <td class="table__cell">Today</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">Wesbite.com</td>
            <td class="table__cell">850izzy</td>
            <td class="table__cell">isaiah@me.com</td>
            <td class="table__cell">testing1234</td>
            <td class="table__cell">Yesterday</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">Testing.com</td>
            <td class="table__cell">useradmin</td>
            <td class="table__cell">isaiah@you.com</td>
            <td class="table__cell">testing</td>
            <td class="table__cell">08-25-2023</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">Lastsite.org</td>
            <td class="table__cell">useradmin12</td>
            <td class="table__cell">izzy@me.com</td>
            <td class="table__cell">testing456</td>
            <td class="table__cell">08-23-2022</td>
        </tr>
    </table>
{% endblock %}