@import url(style.css);

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    max-width: 430px;
    width: 100%;
    border-radius: 6px;
    background: var(--sidebar-color);
    padding: 30px;
}

.form h1 {
    font-family: var(--header-font);
    text-align: center;
}

.form .input,
.form .text-field::placeholder,
.field .input::placeholder {
    font-family: var(--text-font);
}

form {
    margin-top: 30px;
}

form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.field .input,
.field .text-field,
.field .button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: var(--text-size);
    font-weight: var(--header-weight);
    border-radius: var(--border-radius);
}

.field .input {
    border-bottom: 1px solid var(--table-color);
    background: var(--sidebar-color);
    outline: none;
    transition: var(--tran-02s);
}

.text-field::placeholder {
    font-size: var(--text-size);
}

.field .input:focus {
    border-bottom: 3px solid var(--table-color);
}

.form-link {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form-link a {
    text-decoration: none;
}

.button-field .button{
    background-color: var(--primary-color);
    cursor: pointer;
    transition: var(--tran-03s);
}

.button-field .button:hover {
    background-color: var(--primary-color-light);
    color: var(--text-color);
}

.form-link .forgot-pass,
.form-link .signup-link {
    color: var(--text-color);
}

.form-link a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
}

/* ===== Icons ===== */
.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: var(--header-size);
    color: var(--primary-color);
    cursor: pointer;
    padding: 5px;
}
